# Data Transformation

## Experiment Setup

In this section, we will establish the required configurations and settings to ensure a seamless data transformation process. This section involves several crucial steps that lay the foundation for data wrangling tasks. Here's an elaboration of each step:

- **Modules Imports & Setup**: Import and set up various libraries and modules that will aid us in the data ingestion process
- **Execution Path Setup**: Set up the appropriate file path to ensure that our code runs correctly and can access any necessary files or directories
- **Utility Functions & Configurations Setup**: Import and set up essential utility functions and configurations to streamline the data extraction and transformation tasks

### Modules Import and Setup

In [1]:
# Library for operating system related tasks
import os

In [2]:
# Library for data wrangling
import pandas as pd

In [3]:
# Library for pretty print output
from rich.console import Console

console = Console()

### Execution Path Setup

In [4]:
# Current execution path
print(f"Current working directory: {os.path.basename(os.getcwd())}")

# Change to root directory
os.chdir("../")
print(f"Current working directory (Changed): {os.path.basename(os.getcwd())}")

Current working directory: notebooks
Current working directory (Changed): Groceries-Basket-Analysis

### Utility Functions & Configurations Setup

In [5]:
# Import config.yaml file
from src.constants import CONFIGS

In [6]:
# Import utility function to read YAML files
from src.utils.basic_utils import read_yaml

# Read the data scraper constants from the file
data_transformer = read_yaml(CONFIGS).data_processor
console.print(data_transformer.to_dict())

[2024-08-30 12:15:48 AM]:ProjectLogger INFO:basic_utils 40 - yaml file: conf\configs.yaml loaded successfully

{
    'external_data_path': 'data/external/groceries.csv',
    'transactions_data_path': 'data/processed/groceries_transactions.csv',
    'basket_data_path': 'data/processed/groceries_basket.csv'
}

## Data Ingestion

In [7]:
df = pd.read_csv(data_transformer.external_data_path, header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,female sanitary products,hygiene articles,napkins,house keeping products,NaN,NaN,NaN

In [8]:
custom_index_col = pd.RangeIndex(start=10000, stop=10000 + len(df), step=1, name="id")

df.index = custom_index_col
df.index = "TRAN" + df.index.astype("string")

df = df.reset_index()

In [9]:
df

,id,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,TRAN10000,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TRAN10001,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRAN10002,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TRAN10003,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TRAN10004,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8997,TRAN18997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8998,TRAN18998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8999,TRAN18999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9000,TRAN19000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9001,TRAN19001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,female sanitary products,hygiene articles,napkins,house keeping products,NaN,NaN,NaN

In [10]:
df_unpivot = (
    pd.melt(df, id_vars=["id"], value_name="Products")
    .drop(columns="variable")
    .dropna()
    .sort_values(by="id")
    .rename(columns={"id": "TransactionID"})
    .reset_index(drop=True)
)

df_unpivot

      TransactionID                  Products
0         TRAN10000              citrus fruit
1         TRAN10000                 margarine
2         TRAN10000               ready soups
3         TRAN10000       semi-finished bread
4         TRAN10001                    yogurt
...             ...                       ...
34454     TRAN17833                   candles
34455     TRAN19001          hygiene articles
34456     TRAN19001                   napkins
34457     TRAN19001    house keeping products
34458     TRAN19001  female sanitary products

[34459 rows x 2 columns]

In [11]:
df_unpivot["Products"] = df_unpivot["Products"].str.title()
df_unpivot

      TransactionID                  Products
0         TRAN10000              Citrus Fruit
1         TRAN10000                 Margarine
2         TRAN10000               Ready Soups
3         TRAN10000       Semi-Finished Bread
4         TRAN10001                    Yogurt
...             ...                       ...
34454     TRAN17833                   Candles
34455     TRAN19001          Hygiene Articles
34456     TRAN19001                   Napkins
34457     TRAN19001    House Keeping Products
34458     TRAN19001  Female Sanitary Products

[34459 rows x 2 columns]

In [12]:
df_unpivot.duplicated().sum()

0

In [13]:
df_unpivot["Products"].nunique()

169

In [14]:
df_unpivot["Products"].value_counts()

Products
Whole Milk               2002
Other Vegetables         1506
Rolls/Buns               1448
Soda                     1390
Yogurt                   1074
                         ...
Bags                        3
Kitchen Utensil             2
Baby Food                   1
Sound Storage Medium        1
Preservation Products       1
Name: count, Length: 169, dtype: int64

In [15]:
from itertools import combinations

In [16]:
# Generate all 2-combination pairs for the available products
combinations_list = list(combinations(df_unpivot["Products"].unique().tolist(), 2))
print(len(combinations_list))

14196

In [17]:
# Create a new DataFrame with the combinations
df_basket = pd.DataFrame(combinations_list, columns=["Product-1", "Product-2"])
df_basket

                  Product-1              Product-2
0              Citrus Fruit              Margarine
1              Citrus Fruit            Ready Soups
2              Citrus Fruit    Semi-Finished Bread
3              Citrus Fruit                 Yogurt
4              Citrus Fruit         Tropical Fruit
...                     ...                    ...
14191     Cooking Chocolate        Kitchen Utensil
14192     Cooking Chocolate  Preservation Products
14193  Sound Storage Medium        Kitchen Utensil
14194  Sound Storage Medium  Preservation Products
14195       Kitchen Utensil  Preservation Products

[14196 rows x 2 columns]

In [18]:
df_basket["Basket"] = df_basket["Product-1"] + " + " + df_basket["Product-2"]
df_basket

,Product-1,Product-2,Basket
0,Citrus Fruit,Margarine,Citrus Fruit + Margarine
1,Citrus Fruit,Ready Soups,Citrus Fruit + Ready Soups
2,Citrus Fruit,Semi-Finished Bread,Citrus Fruit + Semi-Finished Bread
3,Citrus Fruit,Yogurt,Citrus Fruit + Yogurt
4,Citrus Fruit,Tropical Fruit,Citrus Fruit + Tropical Fruit
...,...,...,...
14191,Cooking Chocolate,Kitchen Utensil,Cooking Chocolate + Kitchen Utensil
14192,Cooking Chocolate,Preservation Products,Cooking Chocolate + Preservation Products
14193,Sound Storage Medium,Kitchen Utensil,Sound Storage Medium + Kitchen Utensil
14194,Sound Storage Medium,Preservation Products,Sound Storage Medium + Preservation Products
14195,Kitchen Utensil,Preservation Products,Kitchen Utensil + Preservation Products

In [19]:
milk_df = df_unpivot[df_unpivot["Products"] == "Whole Milk"]
milk_df.shape[0]

2002

In [20]:
veg_df = df_unpivot[df_unpivot["Products"] == "Other Vegetables"]
veg_df

      TransactionID          Products
12        TRAN10004  Other Vegetables
23        TRAN10007  Other Vegetables
32        TRAN10010  Other Vegetables
58        TRAN10020  Other Vegetables
68        TRAN10024  Other Vegetables
...             ...               ...
34324     TRAN17807  Other Vegetables
34337     TRAN17809  Other Vegetables
34356     TRAN17811  Other Vegetables
34415     TRAN17825  Other Vegetables
34424     TRAN17827  Other Vegetables

[1506 rows x 2 columns]

In [21]:
pd.merge(milk_df, veg_df, how="inner", on="TransactionID").shape[0]

577

In [22]:
def basket_transaction_count(df, product_col, product_a, product_b):
    product_a_df = df[df[product_col] == product_a]
    product_b_df = df[df[product_col] == product_b]
    basket_transaction_df = pd.merge(
        product_a_df, product_b_df, how="inner", on="TransactionID"
    )
    return basket_transaction_df.shape[0]

In [23]:
def product_transactions(df, product_col, product_name):
    product_df = df[df[product_col] == product_name]
    return product_df.shape[0]

In [42]:
total_transaction = df_unpivot["TransactionID"].nunique()

In [25]:
df_basket["Total Transactions"] = df_unpivot["TransactionID"].nunique()
df_basket

,Product-1,Product-2,Basket,Total Transactions
0,Citrus Fruit,Margarine,Citrus Fruit + Margarine,7835
1,Citrus Fruit,Ready Soups,Citrus Fruit + Ready Soups,7835
2,Citrus Fruit,Semi-Finished Bread,Citrus Fruit + Semi-Finished Bread,7835
3,Citrus Fruit,Yogurt,Citrus Fruit + Yogurt,7835
4,Citrus Fruit,Tropical Fruit,Citrus Fruit + Tropical Fruit,7835
...,...,...,...,...
14191,Cooking Chocolate,Kitchen Utensil,Cooking Chocolate + Kitchen Utensil,7835
14192,Cooking Chocolate,Preservation Products,Cooking Chocolate + Preservation Products,7835
14193,Sound Storage Medium,Kitchen Utensil,Sound Storage Medium + Kitchen Utensil,7835
14194,Sound Storage Medium,Preservation Products,Sound Storage Medium + Preservation Products,7835
14195,Kitchen Utensil,Preservation Products,Kitchen Utensil + Preservation Products,7835

In [26]:
df_basket["Product-1 Transactions"] = df_basket.apply(
    lambda row: product_transactions(df_unpivot, "Products", row["Product-1"]), axis=1
)

In [27]:
df_basket

,Product-1,Product-2,Basket,Total Transactions,Product-1 Transactions
0,Citrus Fruit,Margarine,Citrus Fruit + Margarine,7835,655
1,Citrus Fruit,Ready Soups,Citrus Fruit + Ready Soups,7835,655
2,Citrus Fruit,Semi-Finished Bread,Citrus Fruit + Semi-Finished Bread,7835,655
3,Citrus Fruit,Yogurt,Citrus Fruit + Yogurt,7835,655
4,Citrus Fruit,Tropical Fruit,Citrus Fruit + Tropical Fruit,7835,655
...,...,...,...,...,...
14191,Cooking Chocolate,Kitchen Utensil,Cooking Chocolate + Kitchen Utensil,7835,19
14192,Cooking Chocolate,Preservation Products,Cooking Chocolate + Preservation Products,7835,19
14193,Sound Storage Medium,Kitchen Utensil,Sound Storage Medium + Kitchen Utensil,7835,1
14194,Sound Storage Medium,Preservation Products,Sound Storage Medium + Preservation Products,7835,1
14195,Kitchen Utensil,Preservation Products,Kitchen Utensil + Preservation Products,7835,2

In [28]:
df_basket["Product-2 Transactions"] = df_basket.apply(
    lambda row: product_transactions(df_unpivot, "Products", row["Product-2"]), axis=1
)

df_basket

,Product-1,Product-2,Basket,Total Transactions,Product-1 Transactions,Product-2 Transactions
0,Citrus Fruit,Margarine,Citrus Fruit + Margarine,7835,655,465
1,Citrus Fruit,Ready Soups,Citrus Fruit + Ready Soups,7835,655,14
2,Citrus Fruit,Semi-Finished Bread,Citrus Fruit + Semi-Finished Bread,7835,655,135
3,Citrus Fruit,Yogurt,Citrus Fruit + Yogurt,7835,655,1074
4,Citrus Fruit,Tropical Fruit,Citrus Fruit + Tropical Fruit,7835,655,816
...,...,...,...,...,...,...
14191,Cooking Chocolate,Kitchen Utensil,Cooking Chocolate + Kitchen Utensil,7835,19,2
14192,Cooking Chocolate,Preservation Products,Cooking Chocolate + Preservation Products,7835,19,1
14193,Sound Storage Medium,Kitchen Utensil,Sound Storage Medium + Kitchen Utensil,7835,1,2
14194,Sound Storage Medium,Preservation Products,Sound Storage Medium + Preservation Products,7835,1,1
14195,Kitchen Utensil,Preservation Products,Kitchen Utensil + Preservation Products,7835,2,1

In [29]:
df_basket["Basket Transactions"] = df_basket.apply(
    lambda row: basket_transaction_count(
        df_unpivot, "Products", row["Product-1"], row["Product-2"]
    ),
    axis=1,
)

df_basket

,Product-1,Product-2,Basket,Total Transactions,Product-1 Transactions,Product-2 Transactions,Basket Transactions
0,Citrus Fruit,Margarine,Citrus Fruit + Margarine,7835,655,465,66
1,Citrus Fruit,Ready Soups,Citrus Fruit + Ready Soups,7835,655,14,3
2,Citrus Fruit,Semi-Finished Bread,Citrus Fruit + Semi-Finished Bread,7835,655,135,22
3,Citrus Fruit,Yogurt,Citrus Fruit + Yogurt,7835,655,1074,169
4,Citrus Fruit,Tropical Fruit,Citrus Fruit + Tropical Fruit,7835,655,816,157
...,...,...,...,...,...,...,...
14191,Cooking Chocolate,Kitchen Utensil,Cooking Chocolate + Kitchen Utensil,7835,19,2,0
14192,Cooking Chocolate,Preservation Products,Cooking Chocolate + Preservation Products,7835,19,1,0
14193,Sound Storage Medium,Kitchen Utensil,Sound Storage Medium + Kitchen Utensil,7835,1,2,0
14194,Sound Storage Medium,Preservation Products,Sound Storage Medium + Preservation Products,7835,1,1,0
14195,Kitchen Utensil,Preservation Products,Kitchen Utensil + Preservation Products,7835,2,1,0

In [30]:
df_basket["Product-1 Support"] = (
    df_basket["Product-1 Transactions"] / df_basket["Total Transactions"]
)
df_basket["Product-2 Support"] = (
    df_basket["Product-2 Transactions"] / df_basket["Total Transactions"]
)
df_basket["Basket Support"] = (
    df_basket["Basket Transactions"] / df_basket["Total Transactions"]
)
df_basket["Product-1 Confidence"] = (
    df_basket["Basket Support"] / df_basket["Product-1 Support"]
)
df_basket["Product-2 Confidence"] = (
    df_basket["Basket Support"] / df_basket["Product-2 Support"]
)
df_basket["Lift"] = df_basket["Basket Support"] / (
    df_basket["Product-1 Support"] * df_basket["Product-2 Support"]
)

df_basket

,Product-1,Product-2,Basket,Total Transactions,Product-1 Transactions,Product-2 Transactions,Basket Transactions,Product-1 Support,Product-2 Support,Basket Support,Product-1 Confidence,Product-2 Confidence,Lift
0,Citrus Fruit,Margarine,Citrus Fruit + Margarine,7835,655,465,66,0.083599,0.059349,0.008424,0.100763,0.141935,1.697808
1,Citrus Fruit,Ready Soups,Citrus Fruit + Ready Soups,7835,655,14,3,0.083599,0.001787,0.000383,0.004580,0.214286,2.563250
2,Citrus Fruit,Semi-Finished Bread,Citrus Fruit + Semi-Finished Bread,7835,655,135,22,0.083599,0.017230,0.002808,0.033588,0.162963,1.949336
3,Citrus Fruit,Yogurt,Citrus Fruit + Yogurt,7835,655,1074,169,0.083599,0.137077,0.021570,0.258015,0.157356,1.882262
4,Citrus Fruit,Tropical Fruit,Citrus Fruit + Tropical Fruit,7835,655,816,157,0.083599,0.104148,0.020038,0.239695,0.192402,2.301480
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14191,Cooking Chocolate,Kitchen Utensil,Cooking Chocolate + Kitchen Utensil,7835,19,2,0,0.002425,0.000255,0.000000,0.000000,0.000000,0.000000
14192,Cooking Chocolate,Preservation Products,Cooking Chocolate + Preservation Products,7835,19,1,0,0.002425,0.000128,0.000000,0.000000,0.000000,0.000000
14193,Sound Storage Medium,Kitchen Utensil,Sound Storage Medium + Kitchen Utensil,7835,1,2,0,0.000128,0.000255,0.000000,0.000000,0.000000,0.000000
14194,Sound Storage Medium,Preservation Products,Sound Storage Medium + Preservation Products,7835,1,1,0,0.000128,0.000128,0.000000,0.000000,0.000000,0.000000
14195,Kitchen Utensil,Preservation Products,Kitchen Utensil + Preservation Products,7835,2,1,0,0.000255,0.000128,0.000000,0.000000,0.000000,0.000000

In [31]:
df_basket[df_basket["Basket"] == "Citrus Fruit + Whole Milk"]

,Product-1,Product-2,Basket,Total Transactions,Product-1 Transactions,Product-2 Transactions,Basket Transactions,Product-1 Support,Product-2 Support,Basket Support,Product-1 Confidence,Product-2 Confidence,Lift
6,Citrus Fruit,Whole Milk,Citrus Fruit + Whole Milk,7835,655,2002,238,0.083599,0.25552,0.030377,0.363359,0.118881,1.422036

In [32]:
df_cpy = df_basket.copy(deep=True)
df_cpy

,Product-1,Product-2,Basket,Total Transactions,Product-1 Transactions,Product-2 Transactions,Basket Transactions,Product-1 Support,Product-2 Support,Basket Support,Product-1 Confidence,Product-2 Confidence,Lift
0,Citrus Fruit,Margarine,Citrus Fruit + Margarine,7835,655,465,66,0.083599,0.059349,0.008424,0.100763,0.141935,1.697808
1,Citrus Fruit,Ready Soups,Citrus Fruit + Ready Soups,7835,655,14,3,0.083599,0.001787,0.000383,0.004580,0.214286,2.563250
2,Citrus Fruit,Semi-Finished Bread,Citrus Fruit + Semi-Finished Bread,7835,655,135,22,0.083599,0.017230,0.002808,0.033588,0.162963,1.949336
3,Citrus Fruit,Yogurt,Citrus Fruit + Yogurt,7835,655,1074,169,0.083599,0.137077,0.021570,0.258015,0.157356,1.882262
4,Citrus Fruit,Tropical Fruit,Citrus Fruit + Tropical Fruit,7835,655,816,157,0.083599,0.104148,0.020038,0.239695,0.192402,2.301480
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14191,Cooking Chocolate,Kitchen Utensil,Cooking Chocolate + Kitchen Utensil,7835,19,2,0,0.002425,0.000255,0.000000,0.000000,0.000000,0.000000
14192,Cooking Chocolate,Preservation Products,Cooking Chocolate + Preservation Products,7835,19,1,0,0.002425,0.000128,0.000000,0.000000,0.000000,0.000000
14193,Sound Storage Medium,Kitchen Utensil,Sound Storage Medium + Kitchen Utensil,7835,1,2,0,0.000128,0.000255,0.000000,0.000000,0.000000,0.000000
14194,Sound Storage Medium,Preservation Products,Sound Storage Medium + Preservation Products,7835,1,1,0,0.000128,0.000128,0.000000,0.000000,0.000000,0.000000
14195,Kitchen Utensil,Preservation Products,Kitchen Utensil + Preservation Products,7835,2,1,0,0.000255,0.000128,0.000000,0.000000,0.000000,0.000000

In [33]:
# Convert multiple columns to percentages and format them
columns_to_format = [
    "Product-1 Support",
    "Product-2 Support",
    "Basket Support",
    "Product-1 Confidence",
    "Product-2 Confidence",
]


df_cpy[columns_to_format] = round(df_cpy[columns_to_format] * 100, 2)
df_cpy["Lift"] = round(df_cpy["Lift"], 2)

In [34]:
df_cpy[df_cpy["Basket"] == "Citrus Fruit + Whole Milk"]

,Product-1,Product-2,Basket,Total Transactions,Product-1 Transactions,Product-2 Transactions,Basket Transactions,Product-1 Support,Product-2 Support,Basket Support,Product-1 Confidence,Product-2 Confidence,Lift
6,Citrus Fruit,Whole Milk,Citrus Fruit + Whole Milk,7835,655,2002,238,8.36,25.55,3.04,36.34,11.89,1.42

In [35]:
# df_basket[columns_to_format] = df_basket[columns_to_format].applymap(
#     lambda x: f"{x:.2f}%"
# )